
.caller-header {
  @media(max-width: $mobile-width) {
    display: none;
  }

  .center-content {
    @include centered-to-full(900px);
  }
}

.caller {
  @mixin mobile-full-width() {
    width: 92%;
    margin: auto;    
  }

  @include clearfix();
  background-color: #ececec;
  width: 100%;

  .content {
    @include legacy-pie-clearfix();
    @include centered-to-full(900px);
    background: white;
    padding-bottom: 60px;
  }

  .text-top, .text-bottom {
    width: 92%;
    margin:auto;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  #call-tool-component {
    h1 {
      @include mobile-full-width();
      font-size: 24px;
      line-height: 1.2em;
      text-align: center;
      margin-bottom: 1em;
    }

    form {
      margin: 0 auto 0 auto;
      max-width: 350px;
      @include legacy-pie-clearfix();
      @include mobile-full-width();

      .form__group {
        margin-bottom: 15px;
      }
    }

    input[type='tel'], .Select-control {
      border: solid 2px #dbdbdb;
    }

    .Select.has-error .Select-control, input[type='text'].has-error {
      border-color: #f8492e;
    }

    button[type='submit']:disabled {
      background-color: #dbdbdb;
    }

    .selectedTarget {
      text-align: center;
      margin: 1em 0;
      line-height: 1.2em;
      font-style: italic;  
      color: rgba(0, 0, 0, 0.4);
    }

    .form__group.phoneCountryCodeField {
      width: 25%;
      margin-bottom: 0px;

      label {
        left: 10px;
        max-width: 100%;
      }

      input {
        border-right: 0;
      }
    }
    
    .form__group.phoneNumberField {
      width: 75%;
      margin-bottom: 0px;
    }

    p.selectedPhoneCountryCode {
      display: block;
      width: 100%;
      font-style: italic;
      margin-left: 0.5em;
      font-size: 12px;
      line-height: 1.5em;
      height: 1.5em;
      color: #00c0cf;
    }

    .selectedTargetName {
      color: #00c0cf;
    }

    .fine-print {
      @include mobile-full-width();
      max-width: 350px;
      font-size: 12px;
      color: $slate-gray;
      line-height: 16px;
      margin: 0.5em auto;
    }

  } // #call-tool-component
}