.cover-photo__overlay {
  z-index: 300;
}

.caller-header {
  @media(max-width: $mobile-width) {
    display: none;
  }

  .center-content {
    @include centered-to-full(900px);
  }
}

.caller {
  @include clearfix();
  background-color: #ececec;
  width: 100%;

  @mixin mobile-full-width() {
    width: 92%;
    margin: auto;    
  }

  .clearfix {
    @include clearfix();
    width: 100%;
  }

  .hidden { display: none }

  .content {
    @include legacy-pie-clearfix();
    @include centered-to-full(900px);
    background: white;
    padding-bottom: 60px;
  }

  .text-top, .text-bottom {
    width: 92%;
    margin:auto;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  #call-tool-component {
    h1 {
      @include mobile-full-width();
      font-size: 24px;
      line-height: 1.2em;
      text-align: center;
      margin-bottom: 0.2em;
    }

    .base-errors {
      max-width: 350px;
      @include mobile-full-width();
      margin-bottom: 1em;
      color: #f8492e;
      ul {
        width: 92%;
        margin: 0 auto;
      }
    }

    form {
      @include legacy-pie-clearfix();
      @include mobile-full-width();
      max-width: 350px;
      margin: 30px auto 0 auto;

      .form__group {
        margin-bottom: 15px;
      }
    }

    input[type='tel'], .Select-control {
      border: solid 2px #dbdbdb;
    }

    .Select.has-error .Select-control, input[type='tel'].has-error {
      border-color: #f8492e;
    }


    button[type='submit']:disabled {
      background-color: #dbdbdb;
    }

    .selectedTarget {
      text-align: center;
      margin: 1em 0;
      line-height: 1.2em;
      font-style: italic;  
      color: rgba(0, 0, 0, 0.4);
    }

    .form__group.phoneCountryCodeField {
      width: 25%;
      margin-bottom: 0px;

      label {
        left: 10px;
        max-width: 100%;
      }
    }

    .Select.is-focused .Select-control,
    input[type='tel']:focus {
      border-color: $teal;
    }

    .form__group.countryCodeField .error-msg {
      display: none;
    }
    
    .form__group.phoneNumberField {
      width: calc(75% - 4px);
      margin-left: 4px;
      margin-bottom: 0px;
    }


    p.guessed-country-name {
      @include clearfix();
      width: 100%;
      margin-left: 2px;
      font-size: 12px;
      line-height: 1.5em;
      height: 1.5em;
      color: rgba(0, 0, 0, 0.4);
    }

    .selectedTargetName {
      font-weight: bold;
      color: #414141;
    }

    .fine-print {
      @include mobile-full-width();
      max-width: 350px;
      font-size: 12px;
      color: $slate-gray;
      line-height: 16px;
      margin: 0.5em auto;
    }
    
    p.select-home-country {
      line-height: 1.2em;
      text-align: center;
    }

  } // #call-tool-component
}