.fundraiser-bar.share-and-donate {
  text-align: left;
  position: static;
  max-width: 400px;

  @media(min-width: $mobile-width) {
    .fundraiser-bar__top, .fundraiser-bar__main {
      background-color: transparent;
    }

    .fundraiser-bar__top h2 {
      font-size: 36px;
      font-weight: normal;
      text-align: center;
    }

    .hosted-fields__host {
      border-color: #b2b5ba;
    }

    .braintree-hosted-fields-focused {
      border-color: $teal;
    }
  }

  // Mobile

  @media(max-width: $mobile-width) {
    .overlay-toggle__close-button {
      display: none;
    }

    label.checkbox-label input[type='checkbox'] {
      position: relative;
      vertical-align: middle;
      margin-right: 5px;
    }

    .overlay-toggle__close-button {
      display: none;
    }

    .action-form__welcome-name {
      line-height: 14px;
    }

    .action-form__clear-form {
      line-height: 12px;
    }
  }

}
