.upstanders {
  font-family: 'Raleway', Arial, sans;
  $ups-orange: #f8622e;

  .ups-header {
    width: 100%;
    height: 72px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    padding: 20px;
    z-index: 1000;

    background: $ups-orange;
    color: white;

    &__logo {
      font-weight: 900;
      float: left;
      font-size: 32px;
    }
    &__links {
      float: right;
      font-size: 20px;
      font-weight: normal;
    }
    &__link, &__button {
      float: left;
      font-size: 20px;
      margin: 5px 20px;
    }
    &__link {
      color: white;
    }
    &__button {
      background: white;
      color: $ups-orange;
      font-weight: bold;
      border-radius: 5px;
      padding: 12px 20px;
      position: relative;
      top: -12px;
    }
  }

  .ups-panel {
    width: 100%;
    box-sizing: border-box;
    padding: 110px;
    overflow: hidden;
  }

  .ups-intro {
    background-image: url(asset-path('images/upstanders/airport-grad.jpg'));
    background-color: #1f0c06;
    background-size: cover;
    color: white;
    margin-top: 40px;

    &__lead-text {
      text-shadow: 0 0 15px black;
      font-weight: bold;
      font-size: 60px;
      text-align: left;
      line-height: 1.1em;
    }
    &__content {
      max-width: 560px;
      float: right;
    }
    &__giant-button {
      display: block;
      background: $ups-orange;
      padding: 10px;
      font-size: 32px;
      font-weight: bold;
      border-radius: 6px;
      text-align: center;
      cursor: pointer;
      width: 100%;
      max-width: 340px;
      color: white;
      margin-top: 30px;
    }
  }

  .ups-stories {
    background: white;
    &__story {
      width: 100%;
      max-width: 870px;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      &--middle {
        margin: 30px auto;
        .ups-stories__circle-image {
          float: right;
        }
        .ups-stories__text {
          left: 0;
        }
      }
    }
    &__circle-image {
      width: 250px;
      height: 250px;
      border-radius: 125px;
      background-size: contain;
      background-color: $ups-orange;

      &--signing {
        background-image: url(asset-path('images/upstanders/trump-signing.jpg'));
      }
      &--trump-home {
        background-image: url(asset-path('images/upstanders/trump-home.jpg'));
      }
      &--romulo {
        background-image: url(asset-path('images/upstanders/romulo.jpg'));
      }
    }
    &__text {
      font-size: 32px;
      font-weight: normal;
      float: left;
      width: calc(100% - 280px);
      position: absolute;
      left: 280px;
      top: 50%;
      transform: translateY(-50%);
      line-height: 1.15em;
    }
  }

  .ups-plan {
    background: $ups-orange;
    font-weight: bold;
    font-size: 54px;
    line-height: 1.1em;
    color: white;

    a {
      text-decoration: underline;
      color: white;
      &:hover {
        text-decoration: none;
        background: $teal;
        color: white;
      }
    }
  }

  .ups-join {
    background-color: white;
    background-image: url(asset-path('images/upstanders/fists.jpg'));
    background-size: contain;
    background-position: bottom;
    min-height: 1040px;
    background-repeat: no-repeat;

    &__lead-line {
      font-size: 32px;
      font-weight: normal;
      width: 100%;
      text-align: center;
    }
    &__content {
      width: 780px;
      margin: 60px auto 0;
    }
    &__sign-up {
      width: 380px;
      margin-right: 20px;
      float: left;
    }
    &__social-proof {
      width: 380px;
      float: right;
    }
    &__signer {
      float: left;
      width: 100%;
      margin-bottom: 20px;
    }
    &__signer-name {
      font-size: 20px;
      margin-bottom: 8px;
    }
    &__time-stamp {
      font-size: 16px;
    }
    strong {
      font-weight: bold;
    }
    .action-form {
      background: white;
    }
    .sweet-placeholder__field {
      border: 1px solid lightgray;
    }
    .form--big .sweet-placeholder .selectize-control.single .selectize-input {
      border: none;
    }
  }
}
.simple-footer--ups {
  border-top: none;
  padding-bottom: 60px;
}
