{% include 'Small Header' %}

<div class="center-content center-content--accomodates-stuck-footer">
  <div class="center-content__big-column">
    <div class="mobile-show pre-main-bar">{% include 'Thermometer' %}</div>

    {% include 'Body Text' %}
  </div>
  <div class="center-content__fixed-right center-content--push-down">
    {% include 'Petition Sidebar', extra_class: 'stuck-right not-sticky' %}
  </div>
</div>

{% include 'Petition Mobile Footer' %}
{% include 'Small Image Footer' %}
