<div class="upstanders">
  {% include 'Upstanders Header' %}

  <div class="ups-panel ups-split-panel">
    <div class="ups-split-panel__image ups-split-panel__image--interview"></div>
    <div class="ups-split-panel__text">
      <h1>SumOfUs has been on the front lines in the fight against corporate power here in the states and around the world.</h1>
      <p>Since 2011, SumOfUs has been working to keep corporate power in check. But with the election of Donald Trump, we find outselves with an entirely new challenge on our hands - one that calls for entirely new tactics.</p>
      <p>With our new Upstanders movement, SumOfUs is engaging our supporters at a deeper level than ever before. For the first time, we're connecting in-person, training and growing together, and supporting growth from the </p>
      <p>To learn more about SumOfUs, visit our <a href="https://www.sumofus.org/about/">about page</a>. And to become an Upstander, click <a href="/#join">here</a>.
    </div>
  </div>
</div>

{% include 'Upstanders Footer' %}

