<link href="https://fonts.googleapis.com/css?family=Raleway:400,700,900" rel="stylesheet">
<style type="text/css">
  body {
    background: #f8622e;
  }
</style>

<div class="ups-header">
  <div class="ups-header__logo">Upstanders</div>
  <div class="ups-header__links">
    <div class="ups-header__link">How we'll win</div>
    <div class="ups-header__link">How we stand up</div>
    <div class="ups-header__link">About</div>
    <div class="ups-header__button">Join Us</div>
  </div>
</div>
