<div class="upstanders">
  {% include 'Upstanders Header' %}

  <div class="ups-panel ups-intro">
    <div class="ups-intro__content">
      <div class="ups-lead-text ups-intro__lead-text">
        We're standing up to end Trump's corporate coup and make a future where people and planet can thrive
      </div>
      <a class="ups-intro__giant-button ups__giant-button" href="#join">
        Become an Upstander
      </a>
    </div>
  </div>

  <div class="ups-panel ups-stories">
    <div class="ups-stories__story">
      <div class="ups-stories__circle-image ups-stories__circle-image--signing"></div>
      <div class="ups-stories__text">
        Corporate billionaire Donald Trump has been elected as the 45th President of the United States.
      </div>
    </div>
    <div class="ups-stories__story ups-stories__story--middle">
      <div class="ups-stories__circle-image ups-stories__circle-image--two-execs"></div>
      <div class="ups-stories__text">
        And he’s bringing along his billionaire friends and family to cash in on the benefits, discarding whoever or whatever gets in their way. 
      </div>
    </div>
    <div class="ups-stories__story">
      <div class="ups-stories__circle-image ups-stories__circle-image--hurting"></div>
      <div class="ups-stories__text">
        Including and especially our most vulnerable communities. 
        <br /><br />
        <strong>The only winners of Trump’s agenda are corporations.</strong>
      </div>
    </div>
  </div>

  <div class="ups-panel ups-plan">
    That's why we're building a movement
    <br /><br />
    <div class="ups-plan__paragraph">
      We will <a href="/how-we-stand-up">stand up</a> for the world we deserve and stop the Trump administration’s corporate agenda in its tracks.
    </div>
  </div>

  <div class="ups-panel ups-join" id="join">
    <div class="ups-join__lead-line">
      Take the first step. Let's stop this coup - together.
    </div>
    <div class="ups-join__content">
      <div class="ups-join__sign-up">
        {% include 'Petition' %}
      </div>
      <div class="ups-join__social-proof">
        <div class="ups-join__signer">
          <div class="ups-join__signer-name">
            <strong>Jake W.</strong> from <strong>Northampton, MA</strong> is ready.
          </div>
          <div class="ups-join__time-stamp">3 minutes ago</div>
        </div>
        <div class="ups-join__signer">
          <div class="ups-join__signer-name">
            <strong>Jake W.</strong> from <strong>Northampton, MA</strong> is ready.
          </div>
          <div class="ups-join__time-stamp">3 minutes ago</div>
        </div>
        <div class="ups-join__signer">
          <div class="ups-join__signer-name">
            <strong>Jake W.</strong> from <strong>Northampton, MA</strong> is ready.
          </div>
          <div class="ups-join__time-stamp">3 minutes ago</div>
        </div>
        <div class="ups-join__signer">
          <div class="ups-join__signer-name">
            <strong>Jake W.</strong> from <strong>Northampton, MA</strong> is ready.
          </div>
          <div class="ups-join__time-stamp">3 minutes ago</div>
        </div>
        <div class="ups-join__signer">
          <div class="ups-join__signer-name">
            <strong>Jake W.</strong> from <strong>Northampton, MA</strong> is ready.
          </div>
          <div class="ups-join__time-stamp">3 minutes ago</div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="simple-footer simple-footer--dark simple-footer--ups">
  <div class="center-content">
    <div class="center-content__one-column">
      <div class="simple-footer__logo sumofus-logo--negative"></div>
      <div class="simple-footer__tagline sumofus-logo--tagline">
        {{ 'branding.tagline' | t }}
      </div>
      <div class="simple-footer__license">
        &copy; 2017 SumOfUs, {{ 'branding.license' | t }}
      </div>
      <div class="simple-footer__links">
        <a href="//sumofus.org/about" class="simple-footer__link">About Us</a>
        <a href="//sumofus.org/contact" class="simple-footer__link">Contact</a>
        <a href="//actions.sumofus.org/a/donate" class="simple-footer__link">Donate</a>
      </div>
    </div>
  </div>
</div>


<script src="https://cdn.socket.io/socket.io-1.4.5.js" async></script>
