<div class="upstanders">
  {% include 'Upstanders Header' %}

  <div class="ups-panel ups-dual-panel">
    <div class="ups-dual-panel__lead-text ups-lead-text">
      If you want to protect people and the planet, then you are part of the movement. It’s that easy. 
    </div>
    <div class="ups-dual-panel__fists-image"></div>
  </div>

  <div class="ups-panel ups-stories">
    <div class="ups-stories__story">
      <div class="ups-stories__circle-image ups-stories__circle-image--local"></div>
      <div class="ups-stories__text">
        <strong>Organize locally</strong>
        <br /><br />
        At-risk people are being affected today everywhere, and in your community. This is where you come in. 
      </div>
    </div>
    <div class="ups-stories__story ups-stories__story--middle">
      <div class="ups-stories__circle-image ups-stories__circle-image--national"></div>
      <div class="ups-stories__text">
        <strong>Coordinate nationally</strong>
        <br /><br />
        And each local fight will be part of a bigger, national strategy of actions.
      </div>
    </div>
    <div class="ups-stories__story">
      <div class="ups-stories__circle-image ups-stories__circle-image--mobilize"></div>
      <div class="ups-stories__text">
        <strong>Mobilize Massively</strong>
        <br /><br />
        And finally, we will bring out 11 million upstanders to the streets until the final victory.
      </div>
    </div>

    <div class="ups-stories__wrap-up">
      <strong>And we’ll support you every step of the way</strong>
      <br /><br />
      We are prepping webinars, trainings, meeting agenda templates, everything shy of posterboard to help you and your friends build community and find opportunities for you to take action.
    </div>
  </div>

  <div class="ups-panel ups-link-to-action">
    <div class="ups-link-to-action__text">So, what are you waiting for?</div>
    <a href='/#join' class="ups__giant-button ups__giant-button--white">Let's get started</a>
  </div>
</div>

{% include 'Upstanders Footer' %}

<script src="https://cdn.socket.io/socket.io-1.4.5.js" async></script>
