<div class="upstanders">
  {% include 'Upstanders Header' %}

  <div class="ups-panel ups-simple-color ups-simple-color--teal">
    <div class="ups-simple-color__text">We're thrilled to have you with us!</div>
    <div class="ups-simple-color__sub-text">We'll be in touch shortly with trainings, local connections, and plans for the first action. In the meantime, here are a few things you can do now.</div>
  </div>

  <div class="ups-panel ups-donate-share">
    <div class="ups-donate-share__first">
      <h1>Spread the word</h1>
      <div class="ups-donate-share__explanation">
        The more you share, the happier you will be. This is a true fact. No doubt.
      </div>
      <div class="ups-donate-share__share">{% include 'Share' %}</div>
    </div>
    <div class="ups-donate-share__second">
      <h1>Make a donation</h1>
      <div class="ups-donate-share__explanation">
        If you donate, wow, things will be totally awesome and we will defeat Trump for sure.
      </div>
      <div class="ups-donate-share__donate">{% include 'Fundraiser', freestanding: true %}</div>
    </div>
  </div>
</div>

{% include 'Upstanders Footer' %}
