<div class="upstanders">
  {% include 'Upstanders Header' %}

  <div class="ups-panel ups-intro">
    <div class="ups-intro__content">
      <div class="ups-intro__lead-text">
        We're standing up to end Trump's corporate coup and make a future where people and planet can thrive
      </div>
      <a class="ups-intro__giant-button">
        Become an Upstander
      </a>
    </div>
  </div>

  <div class="ups-panel ups-stories">
    <div class="ups-stories__story">
      <div class="ups-stories__circle-image ups-stories__circle-image--signing"></div>
      <div class="ups-stories__text">
        Donald Trump is the president, and he hasn’t wasted a moment stripping protections from our most vulnerable communities - even those that voted for him. 
      </div>
    </div>
    <div class="ups-stories__story ups-stories__story--middle">
      <div class="ups-stories__circle-image ups-stories__circle-image--trump-home"></div>
      <div class="ups-stories__text">
        The Trump administration’s clear priority is to enrich themselves and their corporate allies, regardless of the impact on workers or the environment.
      </div>
    </div>
    <div class="ups-stories__story">
      <div class="ups-stories__circle-image ups-stories__circle-image--romulo"></div>
      <div class="ups-stories__text">
        We’ve already seen families torn apart, lorem ipsum dolor sit amet. 
        <br /><br />
        And he’s just getting started.
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.socket.io/socket.io-1.4.5.js" async></script>
