{% comment %} Description: A page with the call tool widget. {% endcomment %}
{% comment %} Primary layout: true {% endcomment %}

{% include 'Top Bar', no_fade: true %}

<div class="caller">
  <div class="imageless-title">
    <div class="typography__highlight-wrapper">
      <h1 class="typography__highlight">
        <span>{{ title }}</span>
      </h1>
    </div>
  </div>
  <div class="body-text caller__intro-text">
    {{ content }}
  </div>
  {% include 'Call Tool' %}

  <div class="body-text caller__bottom-text">
    {% if plugins.call_tool[ref].active %}
      {{ plugins.call_tool[ref].description }}
    {% endif %}
  </div>
</div>

{% include 'Simple Footer' %}
