{% comment %} Post Action Message for double opt in actions {% endcomment %}
{% comment %} Primary layout: false {% endcomment %}

<div class="header-logo header-logo--light">
  <a href="{{ 'footer.home_url' | t }}">
    <div class="header-logo__logo sumofus-logo--positive"></div>
  </a>
</div>

<div class="center-content">
  <div class="center-content__one-column registration">
    <div class="center-content__central-square">
      {% assign capitalized_name = name | capitalize  %}
      <h1>
        <span>{{ 'double_opt_in_1.check_email.title' | val: 'name', capitalized_name | t }}</span>
      </h1>
      <div class='body-text'>
		    {{ 'double_opt_in_1.check_email.body' | val: 'email', email | t }}
      </div>
    </div>
  </div>
</div>

{% include 'Small Image Footer', extra_class: 'simple-footer--stuck-to-bottom' %}
