{% comment %} Post Action Message for double opt in actions {% endcomment %}
{% comment %} Primary layout: false {% endcomment %}

<div class="header-logo header-logo--light">
  <a href="{{ 'footer.home_url' | t }}">
    <div class="header-logo__logo sumofus-logo--positive"></div>
  </a>
</div>

<div class="center-content">
  <div class="center-content__one-column registration">

    <div class="center-content__central-square">
      <h1 class="typography__highlight">
        <span>Fast geschafft, <span class='js-name'></span>!</span>
      </h1>

      <p>
        Wir haben einen Bestätigungslink per E-Mail an folgende Adresse gesendet:
        <strong class='js-email'></strong>
      </p>

      <p>
        Bitte rufen Sie die E-Mail jetzt gleich ab und klicken Sie auf den enthaltenen Link.
        Nur wenn Sie Ihre Unterschrift bestätigen, zählt Ihre Stimme!
      </p>
    </div>
  </div>
</div>

<script>
  var data = {email:null, name: null};

  location.search.split('&').filter(function(item){
    return item.match(/email\=|name\=/);
  }).forEach(function(item){
    item = item.split('=');
    data[item[0]] = item[1];
  });

  $('.js-name').text(data['name']);
  $('.js-email').text(data['email']);
</script>
