{% comment %} Description: A fundraiser page used to test new functionality. {% endcomment %}

{% include 'Small Header' %}

<div class="center-content center-content--accomodates-stuck-footer">
  <div class="center-content__big-column">
  {% include 'Body Text' %}
  </div>
  <div class="center-content__fixed-right">
    {% include 'Fundraiser Refactor', extra_class: 'stuck-right not-sticky overlay-toggle' %}
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    window.sumofus.mySticky = new window.sumofus.DesktopSticky({extraClass: 'fundraiser'});
    $.subscribe('fundraiser:transaction_success', function(event, responseData, formData) {
      var followUpUrl = responseData.follow_up_url || "{{ follow_up_url }}"
      window.champaign.redirectors.AfterDonationRedirector.attemptRedirect(followUpUrl, formData)
    });
  });
</script>

{% include 'Fundraiser Mobile Footer' %}
{% include 'Small Image Footer' %}
