{% comment %} Description: A petition without an image.{% endcomment %}
{% comment %} Primary layout: true {% endcomment %}

<div class="center-content center-content--accomodates-stuck-footer">
  <div class="center-content__big-column">

    <div class="imageless-title">
      <div class="typography__highlight-wrapper">
        <h1 class="typography__highlight">
          <span>{{ title }}</span>
        </h1>
      </div>
    </div>

    {% include 'Body Text', extra_class: 'main-feature--close-top' %}
  </div>
  <div class="center-content__fixed-right center-content--push-down">
    {% include 'Petition Sidebar', extra_class: 'stuck-right not-sticky' %}
  </div>
</div>

{% include 'Petition Mobile Footer' %}
{% include 'Small Image Footer' %}
