{% comment %} Description: The petition page with a wide cover photo.{% endcomment %}

{% include 'Full Width Header' %}

<div class="center-content">
  <div class="center-content__big-column">
    <div class="mobile-show pre-main-bar">{% include 'Thermometer' %}</div>

  {% include 'Body Text' %}
  </div>
  <div class="center-content__small-column center-content--push-down">
    {% include 'Petition Sidebar With Sign And Share', variant: 'simple' %}
  </div>
</div>

{% include 'Petition Mobile Footer' %}
{% include 'Simple Footer' %}
