{% comment %} Description: An internal page that allows people to easily create spreaders {% endcomment %}

{% include 'Small header without cover photo' %}

<div class="center-content">
  <div class="center-content__one-column center-content--spreader-bot">
    {{ content }}

    {% include 'Spreader Bot' %}
  </div>
</div>

<div class="footer-spacer" style="height:150px;"></div>
{% include 'Small Image Footer' %}
