$mobile-width: 700px;

html {
  position: relative;
  min-height: 100%;
}

.center-content {
  @include legacy-pie-clearfix();
  @include centered-to-full(100%);

  &--accomodates-stuck-footer {
    margin-bottom: 150px;
}
  &__fixed-right {
    position: fixed;
    right: 0;
    top: 30px;
    width: 33%;
    z-index: 400;
    margin: 0 15px 15px 15px;
    @media (max-width: 1100px) {
      width: 39%;
    }
    @media (max-width: 900px) {
      width: 47%;
    }
  }
  &__big-column {
    width: 55%;
    margin-left: 4%;
    float: left;
    @media (max-width: 1100px) {
      width: 53%;
    }
    @media (max-width: 900px) {
      width: 47%;
    }
  }
  &__small-column {
    width: 29%;
    margin-left: 4%;
    float: left;
    @media (max-width: 1100px) {
      width: 35%;
    }
    @media (max-width: 900px) {
      width: 43%;
      margin-left: 3%;
    }
  }
  &__small-column,
  &__big-column {
    @media (max-width: $mobile-width) {
      width: 92%;
    }
  }
  &__one-column {
    max-width: 92%; // For FUNDRAISING PLUGIN
    margin-left: 4%;
  }
  &__central-square {
    text-align: center;
    max-width: 700px;
    margin: 100px auto 140px;
    @media (max-width: $mobile-width) {
      margin-top: 80px;
    }
    &--compact {
      margin-bottom: 20px;
    }
  }
  &__centered-element {
    margin-left: auto;
    margin-right: auto;
  }
  &--push-down {
    margin-top: 50px;
  }
}

.clearfix {
  @include clearfix();
}

// to use: $('.mobile-indicator').is(':visible');
.mobile-indicator {
  display: none;
  @media (max-width: $mobile-width) {
    display: block;
  }
}
@media (max-width: $mobile-width) {
  .mobile-hide {
    display: none;
  }
  .mobile-show {
    display: block;
  }
}
@media (min-width: $mobile-width) {
  .mobile-hide {
    display: block;
  }
  .mobile-show {
    display: none;
  }
}

.hidden-irrelevant,
.hidden-closed {
  display: none;
  visibility: hidden;
}

.notification {
  position: fixed;
  z-index: 1000;
  background: white;
  left: 15px;
  top: 80px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
  padding: 20px;
  font-size: 16px;
  color: $chalkboard;
  font-weight: normal;
  @include box-sizing(border-box);
  max-width: calc(100% - 30px);
  @media (min-width: 530px) {
    max-width: 500px;
  }
  @include transition(transform 0.4s ease-in-out);
  &--hidden {
    transform: translateX(-1000px);
  }

  &__close {
    margin-left: 10px;
    cursor: pointer;
  }
}

.tight-column {
  width: 580px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 10px;

  &.tight-column.tight-column--less-tight {
    width: 820px;
  }
}

@media (max-width: 820px) {
  .tight-column.tight-column--less-tight {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media (max-width: 580px) {
  .tight-column {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
